#callme {
  position: absolute;
  top: 30px;
  left: 30px;
  max-width: 400px;
  width: 100%; }
  #callme input[type=submit] {
    float: left;
    width: 40%;
    background-color: grey;
    border: none;
    padding: 8px 10px;
    color: #fff; }
    #callme input[type=submit][disabled] {
      opacity: .5; }
  #callme input[type=tel] {
    width: 60%;
    float: left; }
    #callme input[type=tel]:focus, #callme input[type=tel]:active {
      outline: none;
      border: 1px solid #000; }
  #callme form.active {
    opacity: .2; }
  #callme .thankyou {
    transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    display: none;
    position: absolute;
    z-index: 999;
    height: 100%;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    font-size: 14px;
    text-align: center; }
    #callme .thankyou p {
      margin: 0;
      padding: 0;
      width: 100%; }
    #callme .thankyou.active {
      display: flex;
      opacity: 1;
      transition: all 1s ease-in-out;
      -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out; }
  #callme .loader {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 99;
    vertical-align: top;
    background-image: url(./icons/ring.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: none; }
    #callme .loader.active {
      display: inline-block; }
  #callme .flag-dropdown {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0;
    border-radius: 0;
    background-color: #fff;
    border: none; }
    #callme .flag-dropdown.open-dropdown {
      background: transparent;
      border-bottom: 0;
      border-radius: 3px 0 0 0; }
      #callme .flag-dropdown.open-dropdown .selected-flag {
        background: transparent;
        border-radius: 3px 0 0 0; }
    #callme .flag-dropdown:hover {
      cursor: pointer; }
      #callme .flag-dropdown:hover .selected-flag {
        background-color: transparent; }
  #callme input[disabled] + .flag-dropdown:hover {
    cursor: default; }
    #callme input[disabled] + .flag-dropdown:hover .selected-flag {
      background-color: transparent; }
  #callme .selected-flag {
    z-index: 13;
    position: relative;
    width: 38px;
    height: 26px;
    padding: 0 0 0 8px;
    border-radius: 3px 0 0 3px; }
    #callme .selected-flag .flag {
      position: absolute;
      top: 50%;
      margin-top: -5px; }
    #callme .selected-flag .arrow {
      position: relative;
      top: 50%;
      margin-top: -2px;
      left: 20px;
      width: 0;
      height: 0;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      border-top: 4px solid #555; }
      #callme .selected-flag .arrow.up {
        border-top: none;
        border-bottom: 4px solid #555; }
  #callme .success-message {
    position: absolute;
    z-index: 99;
    background: rgba(255, 255, 255, 0.7);
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 5px 0; }

/*# sourceMappingURL=style.css.map */
